.cds--date-picker-container {
  width: 11rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cds--date-picker.cds--date-picker--single .cds--date-picker__input {
  width: 11rem;
}